.pageTitle {
    margin-top: 50;
    margin-bottom: 50;
    text-align: center;
}

#center {
    margin-bottom: 10;
    text-align: center;
}

#button {
    margin-left: 50%;
    margin-right: 50%;
    text-align: center;
}