<html>
  <head>
    <link rel="stylesheet" href="./styles.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Login Page</title>
  </head>
  <body>
    <h1 class="pageTitle">Login Page</h1>
    <form action="/login" method="post">
      <div id="center">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />
      </div>
      <div id="center">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
      </div>
      <button id="button" type="submit">Login</button>
    </form>
  </body>
</html>